*{
    box-sizing: border-box;
    font-family: cursive;
    color: #777;
}

html,body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255, .3);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255,255,255, .3);
}

.main-header {
    background-color: rbga(0, 0, 0, .6);
    background-image: url("Mickey Images/Young couch crop.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.title{
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: white;
}

.title-large{
    font-size: 5em;
}

.content{
    margin: 1em; 
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-mickey{
    float: left;
    height: 200px;
    margin: 15px;
}

.main-footer{
    background-color: #54211b;
    color: white;
    padding: .25em 0;
    text-align: left;
}

.footer-title{
    text-align:left;
    padding: 0 .25em;

}

.socials-joke{
    color: white;
    font-size: 1em;

}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #54211b;
    background-color: rgba(156, 26, 26, 0.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover{
    background-color: rgba(255,255,255, .3);
}

.tour-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child{
    border-bottom: none
}

.tour-item{
    display: inline-block;
    padding-right: .5em;
}

.tour-date{
    color: #555;
    font-weight: bold;
    width: 41%;
}

.tour-city{
    width: 19%;
}

.tour-arena{
    width: 19%;
}

.tour-btn{
    max-width: 19%;
}

.btn-primary{
    color: white;
    background-color: #54211b;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #3a1410;
}

.gallery-item{
    margin: 15px;
}

.gallery-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #3a1410;
    margin-bottom: 15px;
}

.gallery-item-image {
    height: 250px;

}

.gallery-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}